@using QuickTrackWeb.Services.StudentDataService;
@using QuickTrackWeb.Components.ClassMaintenance;
@inject IStudentDataService _studentDataService;

    <div class="student-display-area">
        <ul class="display-list">
            <li class="display-list-header" style="color:white">
                @if (StudentList != null)
                {
                    <div class="header-text">Students (@StudentList.Count() Total) </div>
                }
                else
                {
                    <div class="header-text">Students (0 Total) </div>
                }


                @{
                    var ownerIdentityName = classEntityOwnerIdentityName;

                    <button class="oi-oi-plus blue-button header-button" @onclick="@(e => addStudentDialog.Show(ownerIdentityName))">Add</button>
                    <AddStudentDialog @ref="addStudentDialog" CloseEventCallback="@Dialog_OnDialogClose"></AddStudentDialog>
                }
            </li>
        @if (StudentList != null)
        {
           
            @foreach (var student in StudentList)
            {
                var studentToDelete = student;

        <li class="display-list-item">
            <div class="item-text">
                @student.Name
            </div>
                <button class="oi-oi-delete red-button item-button" @onclick="@(e => deleteStudentDialog.Show(studentToDelete))">Remove</button>
                <DeleteStudentDialog @ref="deleteStudentDialog" CloseEventCallback="@Dialog_OnDialogClose"></DeleteStudentDialog>
        </li>
                   

                    

                }
            }


        </ul>
    </div>

@code {
    [Parameter]
    public string classEntityOwnerIdentityName { get; set; }

    protected IEnumerable<StudentWithoutProgressDto> StudentList;

    protected DeleteStudentDialog deleteStudentDialog { get; set; }

    protected AddStudentDialog addStudentDialog { get; set; }

    protected override async Task OnInitializedAsync()
    {

        StudentList = (await _studentDataService.GetStudentsForClass(classEntityOwnerIdentityName));

    }

    public async void Dialog_OnDialogClose()
    {
        StudentList = (await _studentDataService.GetStudentsForClass(classEntityOwnerIdentityName));
        StateHasChanged();
    }

}
