@using QuickTrackWeb.Services.StudentDataService
@using QuickTrackWeb.Services.WeekDataService
@using QuickTrackWeb.Services.ProgressRecordDataService
@inject IStudentDataService _studentDataService
@inject IProgressRecordDataService _progressRecordDataService

@if (pickedClassEntity != null)
{

    <div class="progress-display">
        <ul class="progress-list">
            <li class="progress-list-header" style="color:white">
                <div class="progress-item">
                    Student
                </div>
                @{


                    var lastColumn = pickedClassEntity.TrackedItems.Count();
                    var thisColumn = 0;
                    @foreach (var trackedItem in pickedClassEntity.TrackedItems)
                    {
                        thisColumn++;
                        if (thisColumn == lastColumn)
                        {
                            <div class="progress-item progress-item-last">
                                @trackedItem.Name
                            </div>
                        }
                        else
                        {
                            <div class="progress-item">
                                @trackedItem.Name
                            </div>
                        }

                    }
                }
            </li>
            @if (pickedClassEntity.Students != null)
            {
                var lastColIndex = pickedClassEntity.TrackedItems.Count();
              @foreach (var student in pickedClassEntity.Students)
               {
                   var thisStudent = student;
        <li class="progress-list-item">
            <div class="progress-item">
                @student.Name
            </div>
            @{
                var thisColIndex = 0;
                foreach (var trackedItem in pickedClassEntity.TrackedItems)
                {
                    thisColIndex++;
                    var thisTrackedItem = trackedItem;

                    if (thisColIndex == lastColIndex)
                    {
                        <div class="progress-item progress-item-last">
                            @student.Id & @trackedItem.Id
                        </div>
                    }
                    else
                    {
                        <div class="progress-item">
                            @student.Id & @trackedItem.Id
                        </div>
                    }

                }
            }
        </li>




                }
            }


        </ul>
</div>
}
else
{
    <h1 style="color:red">You must create a class to continue</h1>
}

@code {
    [Parameter]
    public ClassEntityDto pickedClassEntity { get; set; }

    [Parameter]
    public WeekWithoutProgressDto pickedWeek { get; set; }

    protected override async Task OnInitializedAsync()
    {
        StateHasChanged();


    }

    public async void Dialog_OnDialogClose()
    {

    }

}
