@page "/classmaintenance"
@inherits ClassMaintenanceBase


@if (PickedClassEntity == null)
{
    <p>Loading...</p>
}
else
{


    @if (PickedClassEntity.Id == -1)
    {
        <h1 style="color:red">@PickedClassEntity.Name</h1>
        <button class="btn btn-primary" @onclick="@AddClassEntity">Create Class</button>
        <AddClassEntityDialog @ref="AddClassEntityDialog" CloseEventCallback="@Dialog_OnDialogClose"></AddClassEntityDialog>
    }
    else
    {
        <h1 style="color:green">@PickedClassEntity.Name</h1>

        <StudentListDisplay classEntityOwnerIdentityName="@PickedClassEntity.OwnerIdentityName"></StudentListDisplay>
        <div class="display-spacer"></div>
        <TrackedItemDisplay classEntityOwnerIdentityName="@PickedClassEntity.OwnerIdentityName"></TrackedItemDisplay>


        @*<AuthorizeView>
                    <Authorized>
                        <div class="footer-display-area">
                            @if (@context.User.IsInRole("Administrator") == false)
                            {
                                <button class="btn red-button" @onclick="@DeleteClassEntity">Delete Class</button>
                                <DeleteClassEntityDialog @ref="DeleteClassEntityDialog" CloseEventCallback="@Dialog_OnDialogClose"></DeleteClassEntityDialog>
                    <ul>
                @foreach (var c in ClassEntities)
                {
                    <li>@c.Name -> @c.OwnerIdentityName</li>
                }
            </ul>
                            }

                        </div>

                    </Authorized>
                </AuthorizeView>*@

    }


}