@page "/trackprogress"
@inherits TrackProgressBase


@if (PickedClassEntity == null)
{
    <p>Loading...</p>
}
else
{


    @if (PickedClassEntity.Id == -1)
    {
        <h1 style="color:red">@PickedClassEntity.Name</h1>
    }
    else
    {
        <h1 style="color:green">@PickedClassEntity.Name</h1>

       <WeekChanger classEntityOwnerIdentityName="@PickedClassEntity.OwnerIdentityName"></WeekChanger>
        <div class="display-spacer"></div>
        <p>end of page</p>


        @*<AuthorizeView>
                    <Authorized>
                        <div class="footer-display-area">
                            @if (@context.User.IsInRole("Administrator") == false)
                            {
                                <button class="btn red-button" @onclick="@DeleteClassEntity">Delete Class</button>
                                <DeleteClassEntityDialog @ref="DeleteClassEntityDialog" CloseEventCallback="@Dialog_OnDialogClose"></DeleteClassEntityDialog>
                    <ul>
                @foreach (var c in ClassEntities)
                {
                    <li>@c.Name -> @c.OwnerIdentityName</li>
                }
            </ul>
                            }

                        </div>

                    </Authorized>
                </AuthorizeView>*@

    }


}
