@page "/trackprogress"
@inherits TrackProgressBase


@if (PickedClassEntity == null)
{
    <p>Loading...</p>
}
else
{


    @if (PickedClassEntity.Id == -1)
    {
        <h1 style="color:red">@PickedClassEntity.Name</h1>
    }
    else
    {
        <h3 style="color:green">Tracking Progress for:</h3>
        <h1 style="color:green">@PickedClassEntity.Name</h1>

        <WeekChanger classEntityOwnerIdentityName="@PickedClassEntity.OwnerIdentityName" WeekChangedCallback="@WeekChanged_Callback"></WeekChanger>
        <div class="vertical-spacer"style="height:1px"></div>
        <TestProgressGrid pickedClassEntity="@PickedClassEntity" pickedWeek ="@PickedWeek"></TestProgressGrid>

    }


}
